:root {
    --divColorHover: rgba(233, 233, 233, 0.8);
    --divColor: rgba(54, 53, 53, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-family: 'Roboto Condensed';
}
header {
    background-color: white;
    width: 100%;
    text-align: center;
}
.title {
    margin: 10px auto;
    letter-spacing: 2px;
}
.main-container {
    display: grid;
    place-content: center;
    min-height: calc(100vh - 60px);
    width: 100%;
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    background-color: var(--divColor);
    letter-spacing: 4px;
    color: white;
    display: grid;
    place-content: center;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;


}
.color {
    margin-top: 8px;
    font-weight: 700;

}
.btn {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3px;
    width: 140px;
    height: 50px;
    border: 1px solid white;
    color: white;
    display: inline-block;
    border-radius: 10px;
    justify-self: center;
    margin-top: 30px;
    background-color: var(--divColor);
}
.btn:active {
    background-color: var(--divColorHover);
}
.firma {
    text-align: end;
    margin: 4px 12px;
}

@media screen and (max-width: 600px ) {
    h2 {
        width: 300px;
        height: 80px;
        font-size: 18px;
    }
    .btn {
        width: 110px;
        height: 30px;
        font-size: 12px;
        margin-top: 20px;
    }
}